body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #817777;
}


/* Style pour le conteneur principal */
.header {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
  align-items: center;
}

/* Style pour le texte de la page */
.h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

/* Style pour le bouton "Nouvelle partie" */
.button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 30px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Style pour le bouton lorsque l'utilisateur passe la souris dessus */
.button:hover {
  background-color: #3e8e41;
}

/* Style pour le bouton lorsque l'utilisateur clique dessus */
.button:active {
  background-color: #1e6823;

}