body {
    background-image: url('espace.jpeg'); /* URL de l'image */
    background-repeat: no-repeat; /* Ne répète pas l'image */
    background-size: cover; /* Étend l'image pour qu'elle couvre tout le fond */
  }