body, html {
    margin: 5000;
    font-family: sans-serif;
    background-image : url(https://upload.wikimedia.org/wikipedia/commons/4/4f/Boulogne-Billancourt_-_Lyc%C3%A9e_Notre-Dame.JPG) ;
    background-size: 50% 50%;
  }
 
    
 

button:hover {
    color: #BEB9B7;
    border: #0062FF solid 1px;
    background: #8E8B89;
    }


