body, html {
    margin: 5000;
    font-family: sans-serif;
    animation: color-change 5s infinite; /* l'animation durera 5 secondes et se répétera indéfiniment */
  }
  

button:hover {
    color: #ff00d4;
    border: #0062FF solid 1px;
    background: #d1d1d1;
    }


h1{

}