<!--#Ce code HTML définit une structure de base pour une page web. Il contient les éléments de base tels que la balise html.
#La balise head avec des métadonnées et des liens vers des feuilles de style, ainsi que la balise body qui contient le contenu de la page. 
#Les blocs block head et block body  sont utilisés pour permettre l'ajout de contenu spécifique à ces blocs à partir d'autres fichiers HTML. 
#Le code utilise également la fonction url_for de Flask pour générer le lien vers un fichier CSS stocké dans le dossier "static/css/".-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %} {% endblock %}
</head>
<body>
    {% block body %} {% endblock %}
</body>
</html>
