{% extends 'base.html' %}

{% block head %} 
<script>

    function enregistrerIdBouton(idBouton) {
  const idBoutonExistant = localStorage.getItem('idBouton');
  if (idBoutonExistant !== null) {
    console.log('ID existant trouvé :', idBoutonExistant);
  }

  localStorage.setItem('idBouton', idBouton);
  console.log('ID enregistré :', idBouton);
    }
    var message = "Bonjour, vous avez cliqué sur le bouton pour la première fois !";
    var count = 0;
function ChangePlayer() {
    
  window.location.href='/QUINSI2';

}

    </script>
{% endblock %}

{% block body %} 
<img src="static/images/merle.jpg" id="merle"  style="position: absolute; top: 50px; left: 20px;"  width="200" height="250">
<button onclick="enregistrerIdBouton('merle')" style="position: absolute; top: 300px; left: 65px;" >Choisir</button>

<img src="static/images/tristan.jpg" id="tristan" style="position: absolute; top: 50px; left: 220px;"  width="200" height="250">
<button onclick="enregistrerIdBouton('tristan')" style="position: absolute; top: 300px; left: 265px;" >Choisir</button>

<img src="static/images/yohann.jpg" id="yohann" style="position: absolute; top: 50px; left: 420px;"  width="200" height="250">
<button onclick="enregistrerIdBouton('yohann')" style="position: absolute; top: 300px; left: 465px;" >Choisir</button>

<img src="static/images/martin.jpg" id="martin" style="position: absolute; top: 50px; left: 620px;"  width="200" height="250">
<button onclick="enregistrerIdBouton('martin')" style="position: absolute; top: 300px; left: 665px;" >Choisir</button>

<img src="static/images/sonia.jpg" id="sonia" style="position: absolute; top: 50px; left: 820px;"  width="200" height="250">
<button onclick="enregistrerIdBouton('sonia')" style="position: absolute; top: 300px; left: 865px;" >Choisir</button>

<img src="static/images/thiago.jpg" id="thiago" style="position: absolute; top: 50px; left: 1020px;"  width="200" height="250">
<button onclick="enregistrerIdBouton('thiago')" style="position: absolute; top: 300px; left: 1065px;" >Choisir</button>

<img src="static/images/kyriann.jpg" id="kyrian" style="position: absolute; top: 50px; left: 1220px;"  width="200" height="250">
<button onclick="enregistrerIdBouton('kyrian')" style="position: absolute; top: 300px; left: 1265px;" >Choisir</button>

<img src="static/images/alessandro.jpg" id="alessandro" style="position: absolute; top: 50px; left: 1420px;"  width="200" height="250">
<button onclick="enregistrerIdBouton('alessandro')" style="position: absolute; top: 300px; left: 1465px;" >Choisir</button>

<img src="static/images/mathis.jpg" id="mathis" style="position: absolute; top: 50px; left: 1620px;"  width="200" height="250">
<button onclick="enregistrerIdBouton('mathis')" style="position: absolute; top: 300px; left: 1665px;" >Choisir</button>

<img src="static/images/bastien.jpg" id="bastien" style="position: absolute; top: 340px; left: 20px;"  width="200" height="250">
<button onclick="enregistrerIdBouton('bastien')" style="position: absolute; top: 590px; left: 65px;" >Choisir</button>

<img src="static/images/antoine.jpg" id="antoine" style="position: absolute; top: 340px; left: 220px;"  width="200" height="250">
<button onclick="enregistrerIdBouton('antoine')" style="position: absolute; top: 590px; left: 265px;" >Choisir</button>

<img src="static/images/celestine.jpg" id="celestine" style="position: absolute; top: 340px; left: 420px;"  width="200" height="250">
<button onclick="enregistrerIdBouton('celestine')" style="position: absolute; top: 590px; left: 465px;" >Choisir</button>

<button id="Nextpage" onclick="ChangePlayer()" style="position: absolute; top: 810px; left: 864px;">
  <img src="/static/images/Button_OK-removebg-preview.png" alt="Valider" style="position: absolute; top: -200px; left: 420px;"  width="250" height="125" >
</button>



{% endblock %}