<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
      Qui est-ce ? 
    </title>
    <style>

body{
  background-color:  #333;
}
    </style>
  </head>
<body>
  <img src="../static/images/merle.jpg" id="merle"  style="position: absolute; top: 150px; left: 20px;"  width="200" height="250">
  <button onclick="enregistrerChoixJ2('merle')" style="position: absolute; top: 440px; left: 65px;" >Choisir</button>
  
  <img src="../static/images/tristan.jpg" id="tristan" style="position: absolute; top: 150px; left: 220px;"  width="200" height="250">
  <button onclick="enregistrerChoixJ2('tristan')" style="position: absolute; top: 440px; left: 265px;" >Choisir</button>

  <img src="../static/images/yohann.jpg" id="yohann" style="position: absolute; top: 150px; left: 415px;"  width="200" height="250">
  <button onclick="enregistrerChoixJ2('yohann')" style="position: absolute; top: 440px; left: 465px;" >Choisir</button>
  
  <img src="../static/images/martin.jpg" id="martin" style="position: absolute; top: 150px; left: 620px;"  width="200" height="250">
  <button onclick="enregistrerChoixJ2('martin')" style="position: absolute; top: 440px; left: 665px;" >Choisir</button>
  
  <img src="../static/images/sonia.jpg" id="sonia" style="position: absolute; top: 150px; left: 820px;"  width="200" height="250">
  <button onclick="enregistrerChoixJ2('sonia')" style="position: absolute; top: 440px; left: 865px;" >Choisir</button>
  
  <img src="../static/images/thiago.jpg" id="thiago" style="position: absolute; top: 150px; left: 1020px;"  width="200" height="250">
  <button onclick="enregistrerChoixJ2('thiago')" style="position: absolute; top: 440px; left: 1065px;" >Choisir</button>
  
  <img src="../static/images/kyriann.jpg" id="kyrian" style="position: absolute; top: 150px; left: 1220px;"  width="200" height="250">
  <button onclick="enregistrerChoixJ2('kyrian')" style="position: absolute; top: 440px; left: 1265px;" >Choisir</button>
  
  <img src="../static/images/alessandro.jpg" id="alessandro" style="position: absolute; top: 150px; left: 1415px;"  width="200" height="250">
  <button onclick="enregistrerChoixJ2('alessandro')" style="position: absolute; top: 440px; left: 1465px;" >Choisir</button>
  
  <img src="../static/images/mathis.jpg" id="mathis" style="position: absolute; top: 150px; left: 1620px;"  width="200" height="250">
  <button onclick="enregistrerChoixJ2('mathis')" style="position: absolute; top: 440px; left: 1665px;" >Choisir</button>
  
  <img src="../static/images/bastien.jpg" id="bastien" style="position: absolute; top: 540px; left: 20px;"  width="200" height="250">
  <button onclick="enregistrerChoixJ2('bastien')" style="position: absolute; top: 800px; left: 65px;" >Choisir</button>
  
  <img src="../static/images/antoine.jpg" id="antoine" style="position: absolute; top: 540px; left: 220px;"  width="200" height="250">
  <button onclick="enregistrerChoixJ2('antoine')" style="position: absolute; top: 800px; left: 265px;" >Choisir</button>
  
  <img src="../static/images/celestine.jpg" id="celestine" style="position: absolute; top: 540px; left: 415px;"  width="200" height="250">
  <button onclick="enregistrerChoixJ2('celestine')" style="position: absolute; top: 800px; left: 465px;" >Choisir</button>
  <script src="app.js"></script>
</body>
</html>