{% extends 'base.html' %}

{% block head %} 
<script>
    function hideImage() {
      var image = document.getElementById("merle");
      image.src = "static/images/carte.png";
      }
    
    function showImage() {
      var image = document.getElementById("merle");
      image.src = "static/images/merle.jpg";
    }  
    
    function hideImage1() {
      var image = document.getElementById("tristan");
      image.src = "static/images/carte.png";
    }
    
    function showImage1() {
      var image = document.getElementById("tristan");
      image.src = "static/images/tristan.jpg";
    }  
    
    function hideImage2() {
      var image = document.getElementById("yohann");
      image.src = "static/images/carte.png";
    }
    
    function showImage2() {
      var image = document.getElementById("yohann");
      image.src = "static/images/yohann.jpg";
    }  
    function hideImage3() {
      var image = document.getElementById("martin");
      image.src = "static/images/carte.png";
    }
    
    function showImage3() {
      var image = document.getElementById("martin");
      image.src = "static/images/martin.jpg";
    }  
    function hideImage4() {
      var image = document.getElementById("sonia");
      image.src = "static/images/carte.png";
    }
    
    function showImage4() {
      var image = document.getElementById("sonia");
      image.src = "static/images/sonia.jpg";
    }  
    function hideImage5() {
      var image = document.getElementById("thiago");
      image.src = "static/images/carte.png";
    }
    
    function showImage5() {
      var image = document.getElementById("thiago");
      image.src = "static/images/thiago.jpg";
    }  
    function hideImage6() {
      var image = document.getElementById("kyrian");
      image.src = "static/images/carte.png";
    }
    
    function showImage6() {
      var image = document.getElementById("kyrian");
      image.src = "static/images/kyriann.jpg";
    }  
    function hideImage7() {
      var image = document.getElementById("alessandro");
      image.src = "static/images/carte.png";
    }
    
    function showImage7() {
      var image = document.getElementById("alessandro");
      image.src = "static/images/alessandro.jpg";
    }  
    function hideImage8() {
      var image = document.getElementById("mathis");
      image.src = "static/images/carte.png";
    }
    
    function showImage8() {
      var image = document.getElementById("mathis");
      image.src = "static/images/mathis.jpg";
    }  
    function hideImage9() {
      var image = document.getElementById("bastien");
      image.src = "static/images/carte.png";
    }
    
    function showImage9() {
      var image = document.getElementById("bastien");
      image.src = "static/images/bastien.jpg";
    }  
    function hideImage10() {
      var image = document.getElementById("antoine");
      image.src = "static/images/carte.png";
    }
    
    function showImage10() {
      var image = document.getElementById("antoine");
      image.src = "static/images/antoine.jpg";
    }  
    function hideImage11() {
      var image = document.getElementById("celestine");
      image.src = "static/images/carte.png";
    }
    
    function showImage11() {
      var image = document.getElementById("celestine");
      image.src = "static/images/celestine.jpg";
    }  
    var message = "Bonjour, vous avez cliqué sur le bouton pour la première fois !";
    var count = 0;
function showAlert() {
  count++;
  message = "Bonjour, vous avez cliqué sur le bouton " + count + " fois !";
  alert(message);
  window.location.href='/QUINSI3';

}

const premierBouton = document.getElementById('merle');
const premierBouton1 = document.getElementById('tristan');
const premierBouton2 = document.getElementById('yohann');
const premierBouton3 = document.getElementById('martin');
const premierBouton4 = document.getElementById('sonia');
const premierBouton5 = document.getElementById('thiago');
const premierBouton6 = document.getElementById('kyrian');
const premierBouton7 = document.getElementById('alessandro');
const premierBouton8 = document.getElementById('mathis');
const premierBouton9 = document.getElementById('bastien');
const premierBouton10 = document.getElementById('antoine');
const premierBouton11 = document.getElementById('celestine');
const secondBouton = document.getElementById('Nextpage');

const activerSecondBouton = function() {
  // Activer le second bouton
  secondBouton.disabled = false;
};


premierBouton.onclick = activerSecondBouton;
premierBouton1.onclick = activerSecondBouton;

premierBouton2.onclick = activerSecondBouton;
premierBouton3.onclick = activerSecondBouton;

premierBouton4.onclick = activerSecondBouton;
premierBouton5.onclick = activerSecondBouton;

premierBouton6.onclick = activerSecondBouton;
premierBouton7.onclick = activerSecondBouton;

premierBouton8.onclick = activerSecondBouton;
premierBouton9.onclick = activerSecondBouton;

premierBouton10.onclick = activerSecondBouton;
premierBouton11.onclick = activerSecondBouton;


    </script>
{% endblock %}

{% block body %} 
  <img src="static/images/merle.jpg" id="merle"  style="position: absolute; top: 50px; left: 20px;"  width="200" height="250">
  <button onclick="hideImage()" style="position: absolute; top: 300px; left: 65px;" >Choisir</button>
  
  <img src="static/images/tristan.jpg" id="tristan" style="position: absolute; top: 50px; left: 220px;"  width="200" height="250">
  <button onclick="hideImage1()" style="position: absolute; top: 300px; left: 265px;" >Choisir</button>

  <img src="static/images/yohann.jpg" id="yohann" style="position: absolute; top: 50px; left: 420px;"  width="200" height="250">
  <button onclick="hideImage2()" style="position: absolute; top: 300px; left: 465px;" >Choisir</button>
  
  <img src="static/images/martin.jpg" id="martin" style="position: absolute; top: 50px; left: 620px;"  width="200" height="250">
  <button onclick="hideImage3()" style="position: absolute; top: 300px; left: 665px;" >Choisir</button>
  
  <img src="static/images/sonia.jpg" id="sonia" style="position: absolute; top: 50px; left: 820px;"  width="200" height="250">
  <button onclick="hideImage4()" style="position: absolute; top: 300px; left: 865px;" >Choisir</button>
  
  <img src="static/images/thiago.jpg" id="thiago" style="position: absolute; top: 50px; left: 1020px;"  width="200" height="250">
  <button onclick="hideImage5()" style="position: absolute; top: 300px; left: 1065px;" >Choisir</button>
  
  <img src="static/images/kyriann.jpg" id="kyrian" style="position: absolute; top: 50px; left: 1220px;"  width="200" height="250">
  <button onclick="hideImage6()" style="position: absolute; top: 300px; left: 1265px;" >Choisir</button>
  
  <img src="static/images/alessandro.jpg" id="alessandro" style="position: absolute; top: 50px; left: 1420px;"  width="200" height="250">
  <button onclick="hideImage7()" style="position: absolute; top: 300px; left: 1465px;" >Choisir</button>
  
  <img src="static/images/mathis.jpg" id="mathis" style="position: absolute; top: 50px; left: 1620px;"  width="200" height="250">
  <button onclick="hideImage8()" style="position: absolute; top: 300px; left: 1665px;" >Choisir</button>
  
  <img src="static/images/bastien.jpg" id="bastien" style="position: absolute; top: 340px; left: 20px;"  width="200" height="250">
  <button onclick="hideImage9()" style="position: absolute; top: 590px; left: 65px;" >Choisir</button>
  
  <img src="static/images/antoine.jpg" id="antoine" style="position: absolute; top: 340px; left: 220px;"  width="200" height="250">
  <button onclick="hideImage10()" style="position: absolute; top: 590px; left: 265px;" >Choisir</button>
  
  <img src="static/images/celestine.jpg" id="celestine" style="position: absolute; top: 340px; left: 420px;"  width="200" height="250">
  <button onclick="hideImage11()" style="position: absolute; top: 590px; left: 465px;" >Choisir</button>

  <button id="Nextpage" onclick="showAlert()" style="position: absolute; top: 810px; left: 864px;">
    <img src="/static/images/Button_OK-removebg-preview.png" alt="Valider" style="position: absolute; top: -200px; left: 420px;"  width="250" height="125" >
  </button>

  <button onclick="window.location.href='/'"style="position: absolute; top: 15px; left: 900px;">Réinitialiser</button>



{% endblock %}