

{% extends 'base.html' %}


{% block head %} 
<button onclick="window.location.href='/QUINSI1'"style="position: absolute; top: 600px; left: -40px;" >
    <img src="static\images\btn_playgame-removebg-preview.png" alt="Play game" width="340" height="140" style="position: absolute; top: -400px; left: 25px;"/>
</button>
<img src="static/images/pageac.jpg" id="yohann" style="position: absolute; top: 1px; left: 320px;"  width="1300" height="975">

<nav>
    <ul>
        <li><a href="http://localhost:5000/QUINSI1">JOUER</a></li>
        <li><a href="https://github.com/yohannNDB/nsi_term_2022_2023_QUINSI/blob/main/README.md">READ ME</a></li>
        <li><a href="http://localhost:5000/contributeurs">CONTRIBUTEURS</a></li>
    </ul>
</nav>
{% endblock %} 